<section id="lower">
        <div class="fluid-container">
            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <div class="row">
                    <div class="col-12 cntct-1">
                        <i class="fab fa-instagram fa-2x ic"></i>
                        <i class="fab fa-facebook fa-2x ic"></i>
                        <i class="fas fa-envelope fa-2x ic"></i>
                    </div>
                    <div class="col-12 cntct">
                        © 3...dots 2020-2021
                    </div>
                </div>
            </footer>
        </div>
    </section>