 <header>
        <div class="logo-container">
            <img src="../img/logo.svg">
            <h4 class="logo">Three Dots</h4>
        </div>
            <nav>
                <ul class="navlinks">
                    <li><a class="nav-link" href="#">Specss</a></li>
                    <li><a class="nav-link" href="#">Products</a></li>
                    <li><a class="nav-link" href="#">Contacts</a></li>
                </ul>
            </nav>
            <div class="cart"><img src="./img/cart.svg"></div>
    </header>